@import '../../scss/colors';
@import '../../scss/mixins';


.container {
  width: 1430px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.pageTitle {
  font-size: 72px;
  line-height: 102px;
  color: #333;

  @include mq(1023px) {
    font-size: 32px;
    line-height: normal;
  }

  @include mq(767px) {
    font-size: 20px;
  }
}

.pageText {
  font-size: 18px;
  line-height: 26px;
  color: #333333;

  @include mq(767px) {
    font-size: 16px;
    line-height: normal;
  }
}