@import "../../scss/mixins";

.mockup {
  position: relative;
  width: 226px;
  height: 460px;
  margin: 60px auto 0;

  @include mq(767px) {
    margin-top: 40px;
  }

  &Bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &View {
    position: absolute;
    top: 70px;
    left: 25px;
    width: 180px;
    height: 321px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}