@import '../../../scss/mixins';
@import '../../../scss/colors';

.topBlock {
  position: relative;
  padding: 140px;
  text-align: center;
  color: #FFFFFF;

  @include mq(1199px) {
    padding: 80px 0;
  }

  @include mq(1023px) {
    padding: 60px 0;
  }

  @include mq(767px) {
    padding: 40px 0;
  }
}

.topBlockBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(78, 0, 247, 0.55) 0%, rgba(0, 0, 0, 0.55) 100%), rgba(0, 0, 0, 0.6);
  }
}

.topBlockBgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.topBlockTitle {
  font-size: 64px;
  line-height: 102px;
  text-transform: uppercase;

  @include mq(1023px) {
    font-size: 40px;
    line-height: normal;
  }

  @include mq(767px) {
    font-size: 30px;
  }
}

.topBlockSubTitle {
  font-size: 36px;
  line-height: 50px;
  margin-top: 30px;

  @include mq(1023px) {
    font-size: 26px;
    line-height: normal;
    margin-top: 20px;
  }

  @include mq(767px) {
    font-size: 20px;
  }
}

.topBlockButtons {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 140px -20px 0;

  @include mq(767px) {
    margin-top: 40px;
    flex-direction: column;
  }
}

.topBlockButtonsItem {
  margin: 20px;
}