.header {
  padding: 50px 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.row {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItem {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  text-decoration: none;

  & + & {
    margin-left: 35px;
  }
}

.be {
  display: flex;
  align-items: center;
}