@import '../../scss/colors';
@import '../../scss/mixins';

html {
  overflow-y: scroll;
}

.header {
  padding: 30px 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.row {
  display: flex;
  justify-content: space-between;
}

.logo {
  @include mq(1199px) {
    width: 160px;
    display: flex;
    align-items: center;
  }

  img {
    max-width: 100%;
  }
}

.menu {
  display: flex;
  align-items: center;

  @include mq(1023px) {
    display: none;
  }
}

.menuItem {
  font-size: 18px;
  line-height: 26px;
  color: #333;
  text-decoration: none;
  font-weight: bold;

  & + & {
    margin-left: 35px;

    @include mq(1199px) {
      margin-left: 15px;
    }
  }
}

.be {
  display: flex;
  align-items: center;

  @include mq(1023px) {
    display: none;
  }
}

.phone {
  display: flex;
  align-items: center;

  @include mq(1023px) {
    display: none;
  }
}

.phoneLink {
  margin-left: 15px;
  font-size: 24px;
  color: #333333;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.boardToggle {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;

  @include mq(1024px, min) {
    display: none;
  }

  svg {
    overflow: visible;
    rect {
      transform-origin: center;
      transition: .3s;
    }
  }

  &Open {
    svg {
      rect {
        y: 8;

        &:nth-child(1),
        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3),
        &:nth-child(4) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}